.welcome-message{
    text-align: center;
    padding: 20px;
    color: #656262;

    font-family: Arial, Helvetica, sans-serif;
}
.send-button:enabled{
    background-color: rgb(0, 123, 255);
    color: white;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 10px;
    font-size: 15px;
}
.send-button:disabled {
    opacity: 0.5;
    background-color: rgb(4, 0, 255);
    color: #dfd5e6;
    cursor: not-allowed;
    padding: 12px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
}
.chat-input{
    padding: 12px 15px;
    border-radius: 10px;
    border: 2px solid #ccc;
    font-size: 15px;
    flex-grow: 1;
}
.chat-input-container{
    display: flex;
    padding: 20px;
    background-color: white;
    border-top: 1px solid #e0e0e0;
    position: sticky;
    bottom: 0;
}
.clear-button{
    background-color: rgb(0, 123, 255);
    color: white;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 10px;
    font-size: 15px;
}